# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Virtual environments
venv/
env/
.venv/
ENV/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Trained model artifacts (uncomment if you don't want to commit these)
# *.pkl

# Logs
*.log